{% extends 'movies/movie_base.html' %}

{% block title %}Movies Index{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'common:front' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Movies</li>
    </ol>
</nav>

{% if perms.movies.add_movie %}
<a class="btn btn-info float-end" href="{% url 'movies:create' %}">Add Movie</a>
{% endif %}
<h2>Select a movie below...</h2>

{% if object_list %}
    {% for movie in object_list %}

    <div class="float-start col-sm-2">
        <div class="card m-1" style="height: 10em">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ movie.release }}</h6>
                <!-- <p class="card-text">{{ movie.summary }}</p> -->
                <a href="{% url 'movies:detail' movie.id %}" class="btn btn-primary">More info</a>
            </div>
        </div>
    </div>

    {% endfor %}
{% else %}
    <p>No movies.</p>
{% endif %}




{% endblock content %}