{% extends 'movies/movie_base.html' %}
{% block title %}{{ movie.name }}{% endblock %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'common:front' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'movies:index' %}">Movies</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ movie.name }}</li>
    </ol>
</nav>

<h1>{{ movie.name }}</h1>
<p>{{ movie.release }}</p>

<p><img src="{{ movie.thumb }}" class="col-sm-2" alt="{{ movie.name }} Thumbnail"></p>

<p><i>{{ movie.summary }}</i></p>

<p>Meter: {{ movie.meter }} | Score: {{ movie.score }}</p>

{% if perms.movies.update_movie %}
<a class="btn btn-info" href="{% url 'movies:update' movie.id %}">Update</a>
{% endif %}
{% if perms.movies.delete_movie %}
<a class="btn btn-danger" href="{% url 'movies:delete' movie.id %}">Delete</a>
{% endif %}

{% endblock content %}
