{% extends 'movies/base_movies.html' %}
{% load static %}

{% block title %}{{ movie.name }}{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'common:front' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'movies:index' %}">Movies</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ movie.name }}</li>
    </ol>
</nav>

<h1>{{ movie.name }}</h1>
<p>{{ movie.release }}</p>

<p><img src="{{ movie.thumb }}" class="col-sm-2" alt="{{ movie.name }} Thumbnail"></p>

<p><i>{{ movie.summary }}</i></p>

<p>Meter: {{ movie.meter }} | Score: {{ movie.score }}</p>

<h2>Key Celebrities</h2>
{% for celeb in movie.celebs.all %}
    {{ celeb.name }} / 
{% endfor %}

{% endblock content %}
