{% extends 'movies/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Yummy Tomatoes | Welcome!{% endblock %}

{% block content %}
<br>

{% if object_list %}
    {% for movie in object_list %}

    <div class="float-start col-sm-2">
        <div class="card m-1" style="height: 10em; background-image: url({{ movie.thumb }})">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ movie.release }}</h6>
            </div>
        </div>
    </div>

    {% endfor %}
{% else %}
    <p>We're so sorry, but it appears that our movie data is currently under maintenace. Please check back again soon!</p>
{% endif %}

{% endblock %}
